<template name='ApplicationLayout'>
    {{>navigation}} {{#unless currentUser}} {{> loginPage}} {{else}} {{> yield}} {{/unless}}
</template>

<template name='navigation'>
    <nav class="navbar navbar-default bg-primary">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{pathFor route='admin'}}">ADMIN</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{pathFor route='admin'}}">Home</a></li>
                {{#with currentUser}}
                <li><a href="{{pathFor route='admin/taglist'}}">Tags</a></li>
                <li><a href="{{pathFor route='admin/categorylist'}}">Kategorier</a></li>
                <li><a href="{{pathFor route='admin/articlelist'}}">Artikler</a></li>
                {{/with}}
            </ul>
        </div>
    </nav>
</template>

<template name="main">
    <div class="container">
        <div class="row">
            <h1>BikeRepair Admin:{{#with currentUser}}{{#each emails}}{{address}}{{/each}}{{/with}}</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-8">
                <input type="button" id="login-button-logout" class="btn btn-default" value="Logout" />
            </div>
        </div>
    </div>
</template>